body {
    font-family: "Avenir Next", "Nunito", sans-serif;
    background-color: #efefef;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.icon {
    width: 28px;
    height: 28px;
    stroke: currentColor;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    color: #4CAF50;
}

@media screen and (min-width: 992px) {
    .ml-large {
        margin-left: 15rem;
    }
}

.auth-container {
    box-sizing: content-box;
    max-width: 500px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 1.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* ====== Navbar ====== */

.navbar-light .navbar-nav .nav-link {
    color: black !important;
    font-size: 1.2rem;
    font-weight: bold;

}

.navbar-light .navbar-nav .nav-link.active {
    color: #398a3c !important;
    position: relative;
}


.navbar-light .navbar-nav .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    max-width: 8rem;
    height: 2px;
    background-color: #398a3c;
    border-radius: 2px;
}

.navbar-nav .btn_icon {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    margin-right: 0.25rem;
}

/* ====== Button Styles ====== */


.btn-outline-secondary {
    max-width: 12rem;
    padding: 0.5rem 1rem;

}

.btn-outline-secondary:hover {
    color: white;
    background-color: #398a3c;
    border-color: #398a3c;
}

/* ====== Banner ====== */

#img-banner {
    object-fit: cover;
    width: 100%;
    height: 60vh;
    display: block;

}



#banner-overlay {
    position: absolute;

    height: 60vh;
    background-color: rgba(57, 138, 60, 0.6);
    width: 100%;
    top: 0;
    left: 0;
}

@media(max-width:767px) {

    #img-banner,
    #banner-overlay {
        height: 50vh;
    }
}

@media(min-width:768px) and (max-width:991px) {

    #img-banner,
    #banner-overlay {
        height: 55vh;
    }
}


#banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    padding: 3rem;

}

#banner-content h1 {
    color: white;
    font-weight: 800;
    font-size: 2.5rem;
}

#banner-content p {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 1.5rem;
}

.site-btn {
    font-size: 1rem;
    background-color: rgb(248, 248, 248);
    color: #333;
    border: 0px;
    padding: 0.65rem 1.4rem;
    font-weight: 700;
    border-radius: 0.7rem;
    margin: 0.2rem;

}

.site-btn:hover {
    background-color: rgb(218, 217, 217);

}

.site-btn-green {
    background-color: transparent;
    color: rgb(44, 44, 44);
    text-decoration: none;
}

.site-btn-green:hover {
    background-color: #72b774;
    color: white;
}

/* ====== Hotel Features ====== */

#hotel-features h2 {
    text-align: center;
    font-weight: 800;
}

.icon-circle {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #4CAF50;
    opacity: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* ====== Hotel Features ====== */

footer {
    font-size: 1.1rem;
    box-sizing: border-box;
}

footer h2 {
    font-size: 1.5rem;
    font-weight: bold
}

footer .nav-link {
    color: #28a745;
    transition: color 0.3s;

}

footer .nav-link:hover {
    color: #1e7e34;
    text-decoration: underline;
}

.alert {
    padding: 0.25rem 0.5rem;
    margin-top: 0.5rem;
    ;
    font-size: 0.8rem;
    line-height: 1.2;

}

.sidebar {
    display: flex;
    flex-direction: column;

}

.sidebar .select-item {
    width: 84%;
}

input[type=range]::-webkit-slider-thumb {
    background: rgb(30, 153, 30)
}

input[type=range]::-webkit-slider-thumb:active {
    background: rgb(14, 98, 14);
    transform: scale(1.1);
}

input[type=range]::-webkit-slider-runnable-track {
    background: lightgreen;
}

.rooms-grid {
    margin-top: 2rem;
    ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 300px));
    gap: 2rem;
    justify-content: left;
    margin-bottom: 2rem;

}

#priceValue {
    width: 50px;
}

.room-card {
    background-color: #f8f9fa;
    border-radius: 10px;
    color: rgb(94, 94, 94);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden;
    font-size: 1.1rem;
}

.room-image {
    width: 100%;
    max-height: 35vh;
    margin: 0;
    padding: 0;
}

.room-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.room-card .card-content {
    padding: 1rem;
}

.room-card .card-content h3 {
    font-size: 1.5rem;
    font-weight: bold;

}

.card-content .number {
    font-size: 1.9rem;
    color: #4CAF50;
    font-weight: bold;
    letter-spacing: -1px;
}

.card-btn {
    font-size: 1rem;
    background-color: rgb(238, 238, 238);
    color: #333;
    border: solid 1px rgb(217, 217, 217);
    padding: 0.2rem 1rem;
    font-weight: 700;
    border-radius: 0.7rem;
    margin: 0.2rem;
    height: 3rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.green-btn {
    color: #fdfdfd;

    background-color: #4CAF50;
}



.card-btn:hover {
    background-color: rgb(218, 217, 217);
    color: #333;

}

.green-btn:hover {
    background-color: #3e9441;
    color: #fdfdfd;

}

.page-header {
    margin-top: 3rem;
    padding-left: 17%;

}

.page-header h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

@media (max-width: 576px) {
    .page-header {
        padding-left: 2%;

    }
}



.breadcrumbs {
    display: flex;
    gap: 1rem;

}

.rounded-pill {
    border-radius: 1rem !important;
}

.auth-form {
    max-width: 25rem;

}

.auth-form h3 {
    text-align: center;
}

@media (max-width: 576px) {
    .auth-form {
        box-sizing: content-box;
        min-width: auto;
        width: 80%;
        max-width: none;
    }
}

#sidebar {
    box-sizing: border-box;
    height: 100vh;
    background-color: white;
    width: 300px;
    overflow: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease;
    z-index: 1000;
    pointer-events: none;
    transform: translateX(-100%);
}


#sidebar.active {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 999;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.filter-header {
    padding: 1rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.cross-icon {
    width: 0.8rem;
    height: 0.8rem;
    cursor: pointer;

}


.filter-icon {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    color: white;
    margin-right: 0.8rem;
}